@import "tailwindcss";
/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #292929 #161616;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929 #161616;
}

/* Target specific scrollable areas */
.overflow-y-auto::-webkit-scrollbar {
  width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #292929 #161616;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #292929 #161616 ;
}

